#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .2s;
    font-family: "avenir"  Helvetica, sans-serif;
    
}
