// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// colors
$body-bg-primary:#FFFFFF;
$nav-blue:#1B4079;
$black-1:#0B032D;
$black-2:#1C1919;
$nav-blue-light:#5B618A;
$blue-light:#508CA4;
$grey-primary:#707070;
$grey-light:#E8E8E8;
$footer-background: #e8e8e861;

// bootstrap-varibles
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

