a{
    text-decoration: none;
    
    
}


.title-top{
    position: relative;
    margin: 0 auto;
    width: max-content;
    &:after{
        
        position: absolute;
         width: 80%;
        content: "";
        height: 3px;
        line-height: 3px;
        left: 17px;
        bottom: -5px;
        background-color: $nav-blue;
        
    }
}
.title-middle{
    position: relative;
    width: max-content;
    margin-bottom: 0;
    font-size:20px;
    font-weight: 95px;
    color: $grey-primary;
    text-align: left;

    &:after{
        position: absolute;
        width: 80%;
        content: "";
        height: 3px;
        line-height: 3px;
        left: 10px;
        // top: 125px;
        bottom: -5px;
        background-color: $nav-blue;
            
    }
    
}
.contact{
    color: $grey-primary;
    font-size: 12px;
    font-weight: 55px;
    i{
        margin: 0 1.5px;
    }
   
}

